# Genome assembly using Velvet

## Definition of the problem

The main goal of this part of the personal project is to practice and understand genome assembly using Velvet software. This latter uses short reads to build the genome (DNA) assembly by manipulating De Bruijn graphs.
The data presented in this notebook come from the tutorial reported in the README.md file and represent a part of *Staphylococcus aureus* genome (197,394 bp). We consider paired-end reads from Illumina sequencing device with 19X coverage on average. 
We previously performed a de novo assembly using Velvet assembler (see tutorial), using FASTQC, MULTIQC, velveth, velvetg and QUAST.
In this notebook, we would like to perform analysis to discuss our results using different k values.

## Problematic

Which would be the effect(s) of different k values on the quality of genome assembly / contig lengths? Would there be other parameters that we could study to see how this genome assembly works and how to improve it?

## Resolution approaches

To answer this question, we will consider data from QUAST command line containing statistics on contigs. We will further perform statistical analysis of these datasets for different k values.

## Parameters

- k values (kmer lengths)

## Import modules and load files

In [2]:
import numpy as np
import pandas as pd
import plotly.express as px
from glob import glob
import os

# Load TSV files
list_tsv = []

tsv_files = glob('../../reports/velvet/quast/test_k_mers_*/report.tsv')
for tsv_file in tsv_files:
    dict_tsv = {}
    

data_31 = pd.read_csv("../../reports/velvet/quast/test_k_mers_31/report.tsv", sep = "\t")
data_31.info()
data_31.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Assembly  46 non-null     object
 1   contigs   46 non-null     object
dtypes: object(2)
memory usage: 864.0+ bytes

                    Assembly contigs
0        # contigs (>= 0 bp)     161
1     # contigs (>= 1000 bp)      41
2     Total length (>= 0 bp)  186842
3  Total length (>= 1000 bp)  170560
4                  # contigs      47